<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="APP_ID" value="968713" />
    <add key="APP_KEY" value="7b81dc0055d9b3550ec9" />
    <add key="APP_SECRET" value="03b480644b406ce46717" />
  </appSettings>
</configuration>